<ol class="breadcrumb">
    <li>
        <i class="fa fa-tachometer">
            <a ui-sref="job.overview.sub({job_id: job_id})"> Job Overview</a>
        </i>
    </li>
    <li title="{{job_vertex_name}}">
        <i class="fa fa-th-large">
            <a ui-sref="job.execution_job_vertex.overview({execution_job_vertex_id: '{{job_vertex_id}}'})">JobVertex Overview [{{job_vertex_index}}]</a>
        </i>
    </li>
    <li title="{{execution_vertex_id}}">
        <i class="fa fa-th">
            <a ui-sref="job.execution_vertex.overview({execution_job_vertex_id: '{{job_vertex_id}}',execution_vertex_id: '{{execution_vertex_id}}'})"> ExecutionVertex Overview [{{execution_vertex_id}}]</a>
        </i>
    </li>
    <li>
        Execution
    </li>
</ol>


<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="job.execution.metrics({execution_job_vertex_id: '{{job_vertex_id}}',execution_vertex_id: '{{execution_vertex_id}}',execution_id:'{{execution_id}}'})">Metrics</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="job.execution.log({execution_job_vertex_id: '{{job_vertex_id}}',execution_vertex_id: '{{execution_vertex_id}}',execution_id:'{{execution_id}}'})">Log</a>
    </li>
</ul>


<div ui-view=""></div>

