<h3>Checkpoint Mode: {{mode}}</h3>
<table st-table="failover_displayed_collection" st-safe-src="failover_row_collection" class="table-list table-hover table-left">
    <thead>
    <tr>
        <th st-sort="timestamp" width="10%">ChangeTime</th>
        <th st-sort="vertexName" width="15%">JobVertex</th>
        <th st-sort="executionAttemptID" width="15%">ExecutionAttempt</th>
        <th st-sort="state" width="10%">State</th>
        <th st-sort="message" width="50%">Message</th>
    </tr>
    </thead>
    <tr>
        <th colspan="5"><input st-search ng-model="query" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    <tbody>
    <tr ng-repeat="row in failover_displayed_collection">
        <td ng-if="row.timestamp >0" >
            {{row.timestamp | date:'medium'}}
        </td>
        <td ng-if="row.timestamp <= 0" >
            -
        </td>
        <td style="word-break: normal">
            {{row.vertexName}}
        </td>
        <td>
            {{row.executionAttemptID}}
        </td>
        <td>
            {{row.state}}
        </td>
        <td>
            {{row.message}}
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="20" st-displayed-pages="10" st-template="views/pagination.html" style="text-align:center"></div>
        </td>
    </tr>
    </tfoot>
</table>




