<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{job_name}} <small>Checkpoints</small>
        </h1>
    </div>
</div>

<h3>Latest Completed Checkpoints</h3>
<table class="table-list table-hover table-top table-left">
    <thead>
    <tr>
        <th width="10%">Id</th>
        <th width="30%">Start Time</th>
        <th width="60%">Durations(ms)</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="row in checkpoints.completed_checkpoint_info">
        <td>{{row.id}}</td>
        <td>{{row.start_time | date:'medium'}}</td>
        <td>{{row.duration}}</td>
    </tr>
    </tbody>
</table>

<br>

<h3>Pending Checkpoints</h3>
<table st-table="checkpoints_displayed_collection" st-safe-src="configure_row_collection" class="table-list table-hover table-top table-left">
    <thead>
    <tr>
        <th width="10%">Id</th>
        <th width="30%">Start Time</th>
        <th width="30%">Ack Tasks</th>
        <th width="30%">No Ack Tasks</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="row in checkpoints.pending_checkpoint_info">
        <td>{{row.id}}</td>
        <td>{{row.start_time | date:'medium'}}</td>
        <td>{{row.ack_task_num}}</td>
        <td>{{row.no_ack_task_num}}</td>
    </tr>
    </tbody>
</table>

<h4>Pending Checkpoints Detail</h4>
<table st-table="checkpoints_displayed_collection" st-safe-src="configure_row_collection" class="table-list table-hover table-top table-left">
    <thead>
    <tr>
        <th width="10%">Id</th>
        <th width="90%">Detail</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="row in checkpoints.pending_checkpoint_info">
        <td>{{row.id}}</td>
        <td><pre>{{row.no_ack_task_detail}}</pre></td>
    </tr>
    </tbody>
</table>