<ol class="breadcrumb">
    <li>
        <i class="fa fa-tachometer">
            <a ui-sref="job.overview.sub({job_id: job_id})"> Job Overview</a>
        </i>
    </li>
    <li title="{{vertex_name}}">
        <i class="fa fa-th-large">
            <a ui-sref="job.execution_job_vertex.overview({vertex_id: '{{vertex_id}}', vertex_name: '{{vertex_name}}', topology_id: '{{topology_id}}'})">JobVertex Overview [{{topology_id}}]</a>
        </i>
    </li>
    <li title="{{subtask_id}}">
        <i class="fa fa-th">
            <a ui-sref="job.execution_vertex.overview({vertex_id: '{{vertex_id}}', vertex_name: '{{vertex_name}}', topology_id: '{{topology_id}}'})"> ExecutionVertex Overview [{{subtask_id}}]</a>
        </i>
    </li>
    <li>
        Attempt [{{attempt_number}}]
    </li>
</ol>


<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="job.execution.metrics({vertex_id: '{{vertex_id}}', vertex_name: '{{vertex_name}}', topology_id: '{{topology_id}}', subtask_id: '{{subtask_id}}', attempt_number: '{{attempt_number}}'})">Metrics</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="job.execution.accumulators({vertex_id: '{{vertex_id}}', vertex_name: '{{vertex_name}}', topology_id: '{{topology_id}}', subtask_id: '{{subtask_id}}', attempt_number: '{{attempt_number}}'})">Accumulators</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="job.execution.log({vertex_id: '{{vertex_id}}', vertex_name: '{{vertex_name}}', topology_id: '{{topology_id}}', subtask_id: '{{subtask_id}}', attempt_number: '{{attempt_number}}'})">Log</a>
    </li>
</ul>


<div ui-view=""></div>

